$blue-1: #fff;
$blue-2: #E5F1FF;
$blue-3: #0059A5;
$blue-4: #132434;

// http://www.colorhunt.co/c/79451
$custom-1: #FEFAEC;
$custom-2: #A9EEE6;
$custom-3: #F38181;
$custom-4: #625772;

$color-1: $custom-1;
$color-2: $custom-2;
$color-3: $custom-3;
$color-4: $custom-4;

$base-unit: 1.5rem;
$header-height: $base-unit * 3;

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
}

#app {
  height: 100vh;
}

.jdXmZz {
  p {
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.7rem;
  }
}

.container {
  h1 {
    font-size: 0.660rem;
    margin: 0;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  p {
    margin: 0;
    color: #000;
  }
  margin: 0 auto;
  width: 1400px;

  li {
    a {
      font-size: 0.66rem;
      text-transform: uppercase;
      font-weight: 400;

      &:hover {
        content: "";
      }
    }

    &.active:after {
      background: #008cfb;
    }
  }


  .OVBYh,
  .ktTuSi {
    
   
    svg {
      margin: 1px 3px 0px 3px;
      // position: absolute;
    }
    a {
      padding: 0 2rem 0 0;
      //   background: #000;
      color: #000;
      padding: 0.9rem 0;
      border: none;
      outline: none;
      font-size: 0.9rem;
      text-transform: capitalize;
      font-weight: bold;
      border-radius: 6px;
      display: flex;
      align-items: center;
      // box-shadow: 0 0 9px 0px #a7a7a7;
    }
  }
  .btn {
    border: solid 1px #000;
    padding: 1rem 1rem;
    max-width: 350px;
    background: #fff;
    display: block;
    text-align: center;
    margin: 1rem 0;
    transition: 0.22s ease;

    &:hover {
      background: #000;
      color: #fff;
      fill: #fff;
    }
  }

  .inc__form {
    font-size: 0.8rem;
    form {
      margin: 1rem 0;
    }
    label {
      display: block;
      font-size: 0.58rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    .inc_form-group {
      margin: 0 0 1rem 0;
    }

    .inc__form--error-msg {
      color: #d64d4d;
      font-weight: bold;
      text-align: right;
      font-size: 11px;
    }

    .inc__form--success-msg {
      color: #38bd85;
      font-weight: bold;
      text-align: right;
      font-size: 11px;
    }

    .inc__form--link {
      // color: cornflowerblue;

      background-image: linear-gradient(
        0deg
        , #393939, #393939);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: 100% 1px;
            border-bottom: 1px solid transparent;
            cursor: pointer;
            text-decoration: none;
            transition: border-color .3s;
    }  

    .inc__form-error {
      padding: 0.7rem;
      background: #fbe5e5;
      margin: 1rem 0;

      p {
        color: #e45b5b;
        font-weight: bold;
        font-size: 0.77rem;
      }
  }

    .inc__form-btn--text {
      margin: 0 0.5rem;
    }

    .inc__form--sucesss-notice-container {
      padding: 1rem 2rem;
      background: #6495ed;
      color: #fff;
      font-weight: bold;

      .inc__form--sucesss-notice-text {
        color: #fff;
      }
    }

    .inc__form--header-notice {
      margin: 1rem 0;
      
      a {
        span {
          background-image: linear-gradient(0deg,#393939,#393939);
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: 100% 1px;
          border-bottom: 1px solid transparent;
          cursor: pointer;
          text-decoration: none;
          transition: border-color .3s;
        }
      }
    }

    .inc__form-input-control {
      position: relative;
      display: flex;
      align-items: center;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
      background: #f1f1f1;
      border: none;
      border-bottom: solid 2px #fff;
      padding: 0.8rem 0;
      width: 100%;
      outline: none;
      margin: 0.7rem 0;
      text-indent: 1rem;
      transition: .22s ease-in-out;

      &:hover {
        background: #f5f6fa;
      }
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus {
      background: #f1f1f1;
      border: none;
      border-bottom: solid 2px #000;
    }

    .error {
      border-bottom: solid 2px !important;
      border-bottom-color: #ff7171 !important;
    }

    .inc__form--terms {
      margin: 1rem 0 2rem 0;
      line-height: 20px;
    }

    .inc__form-keep-signedin {
      display: flex;
      margin: 0.6rem 0;

      input[type="checkbox"] {
        margin: 0;
      }

      p {
        padding: 0 0.3rem;
      }
    }
  }
  .mobile-menu.show {
    height: 100%;
    transform: translateX(400px);
  }
  
  .inc__form-required {
    color: red;
    padding: 0.06rem;
  }

  .inc__form-required-label {
    margin: 0.5rem 0 0.8rem 0;
  }
  
  ::selection {
    background-color: #000;
    color: #fff;
  }
}

.footer {
  // background: #f7f6f6;
  background: #000;
  width: 100%;
  height: 360px;
}

// Hamburger Menu Styles
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9;
}

.menu-icon {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;

  .menu-icon__checkbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
  }
  div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
  }
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--bar-bg, #000);
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

    &:first-of-type {
      top: 0;
    }
    &:last-of-type {
      bottom: 0;
    }
  }
  &.active,
  .menu-icon__checkbox:checked + div {
    span {
      &:first-of-type {
        transform: rotate(45deg);
        top: 5px;
      }
      &:last-of-type {
        transform: rotate(-45deg);
        bottom: 5px;
      }
    }
  }

  &.active:hover span:first-of-type,
  &.active:hover span:last-of-type,
  &:hover .menu-icon__checkbox:checked + div span:first-of-type,
  &:hover .menu-icon__checkbox:checked + div span:last-of-type {
    width: 22px;
  }

  &:hover {
    // no need hover effect on mobile.
    @media (min-width: 1024px) {
      span:first-of-type {
        width: 26px;
      }

      span:last-of-type {
        width: 12px;
      }
    }
  }
}

@media (min-width: 465px) {
  .menu {
    display: none;
  }
  .inc__form {
    width: 400px;
    margin: 3rem auto;
  }
}

@media (max-width: 465px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: initial;

    .inc__form {
      margin-bottom: 5rem;
      input[type="text"],
      input[type="password"] {
        padding: 0.8rem 0;
        width: 100%;
      }
      .signin__createAccountNotice {
        margin: 1rem 0;
        font-size: 0.9rem;
      }
    }
  }

  .search-text {
    display: none;
  }
}

@media(min-width: 415px) {
  #menu {
    display: none
  }
}

#menu {
 list-style: none;

 li { 
  padding: 1rem 0;

  a {
    font-weight: bold;
    transition: .12s ease-in-out;
    font-size: 1rem;
    text-transform: uppercase;
    
    &:hover {
      color: #afafaf;
    }
  }
 }
}

#menu-icon input:checked ~ ul {
  transform: none;
}

.inc__megaMenu {
  z-index: 1;
  position: absolute;
  width: 100%;
  max-height: 40rem;
  left: 0;
  top: 7rem;
  opacity: 0;
  padding-top: 7rem;
  transform: translate3d(0,-100%,0);
  will-change: transform;

  .inc__megaMenu-cols {
    display: flex;

    .inc__megaMenu-title {
      border-bottom: solid 1px #e2e2e2;
      padding: 0.2rem 0 1rem 0;
      margin: 0;
    }

    .inc__megaMenu-list {
      width: 300px;
      padding: 0 2rem 0 0;
  }
}

  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 0.4rem 0;
      font-size: 0.9rem;
      font-weight: 400;
    }
  }
  
  &.is-open,
  &.is-closed {
    animation-duration: .38s;
    animation-fill-mode: both;
  }
  
  &.is-open {
    animation-name: bounceInDown;
    opacity: 1;

    
    > ul {
      opacity: 1;
      transition: opacity .19s cubic-bezier(.62, 0, .8, .38);
    }
  }
  
  &.is-closed {
    animation-duration: .19s;
    animation-name: slideOutUp;
    
    > ul {
      opacity: 0;
      transition: opacity .1s cubic-bezier(.2, .62, .38, 1);
    }
  }
  
  > ul {
    padding-top: $base-unit * 2;
    border-top: 1px solid rgba($color-3, .2);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
    will-change: opacity;
    
    > li {
      flex: 0 1 $base-unit * 6;
      min-height: $header-height * 2;
    }
  }
  
  li {
    ul {
      font-size: 0.875rem;
      color: $color-3;
      padding: $base-unit / 2 0;
    }
  }
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0,#{$header-height * -1},0);
    animation-timing-function: cubic-bezier(.2, .62, .38, 1);
  }

  to {
    transform: translate3d(0,-100%,0);
  }
}

@keyframes bounceInDown {
  from, 60%, to {
    animation-timing-function: cubic-bezier(.2, .62, .38, 1);
  }

  60% {
    transform: translate3d(0, #{($header-height * -1) + ($base-unit * .5)}, 0);
  }

  to {
    transform: translate3d(0, #{($header-height * -1)}, 0);
  }
}

.bounce {
 animation-name: bounce;
}

.bounce {
  animation-name: bounce;
 }

 .inc__cartBtn {
   transition: .22s ease-in-out;
   &:hover {
    background: rgb(233, 233, 233) !important;
   }
 }

 .btn-active {
  background: #000 !important;
  border: solid 1px #000 !important;
  color: #fff !important;
}

.inc__megaMenu-list {
  li {
    a {
      transition: .22s ease-in-out;;
      &:hover {
        background: #f2f2f2;
      }
    }
  }
}

.inc__header {
      height: 30px;
      padding: 2.1rem 0;
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 2;
      border-bottom: solid 1px #f2f2f2
}

.inc__link {
  transition: .22s ease-in-out;
  &:hover {
    background: #f2f2f2;
  }
}

.inc__logo {
  font-size: 0.660rem;
  margin: 0;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.inc__footer-top {
  padding: 1rem 0rem;
}

.inc__footer-top {
  height: 280px;
}

.inc__footer-bottom {
  // border-top: solid 1px #fff;
  display: flex;
  justify-content: space-between;
}

.inc__hero-right {
  padding: 3rem;
}

.inc__footer-top {
  display: flex;
  .inc__footerMenu-link {
    color: #fff;
  }
}

.inc__footerMenu-list {
  list-style: none;
  color: #fff;
  padding: 0 0 0 5rem;
  li {
    padding: 0.3rem 0;
  }
}
.inc__footerMenu-list:nth-child(1) {
  padding: 0;
}

// Search Input Styles
#search,
#search-icon {
  cursor: pointer;
}

#search-input {
  height: 100%;
  width: 0px;
  font-size: 15px;
  font-weight: bold;
  background: none;
  color: #000;
  border: none;
  outline: 0;
  opacity: 0;
  transition: 0.32s;
}

#search.active {
  width: 315px;
  color: #000;
  background: #f2f2f2;
  padding: 0;
}

#search-input.active {
  width: 260px;
  margin-left: 6px;
}

// Link Hover Animation styles
.link {
  text-decoration: none;
  outline: 0;
  border-bottom: solid 1px transparent;
  -webkit-transition: color .2s ease-out, border-bottom-color .2s ease-out;
     -moz-transition: color .2s ease-out, border-bottom-color .2s ease-out;
      -ms-transition: color .2s ease-out, border-bottom-color .2s ease-out;
       -o-transition: color .2s ease-out, border-bottom-color .2s ease-out;
          transition: color .2s ease-out, border-bottom-color .2s ease-out;
  &:hover {
    border-bottom: solid 1px #fff;
  }
}